---
# Docker Role - Container runtime configuration

- name: Add Docker GPG key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present
  when: ansible_os_family == "Debian"

- name: Add Docker repository
  apt_repository:
    repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
    state: present
  when: ansible_os_family == "Debian"

- name: Install containerd
  apt:
    name:
      - containerd.io
    state: present
  when: ansible_os_family == "Debian"

- name: Create containerd configuration directory
  file:
    path: /etc/containerd
    state: directory
    mode: '0755'

- name: Generate default containerd configuration
  shell: containerd config default > /etc/containerd/config.toml
  args:
    creates: /etc/containerd/config.toml

- name: Configure containerd for systemd cgroup
  lineinfile:
    path: /etc/containerd/config.toml
    regexp: 'SystemdCgroup = false'
    line: 'SystemdCgroup = true'
  notify: restart containerd

- name: Configure containerd sandbox image
  lineinfile:
    path: /etc/containerd/config.toml
    regexp: 'sandbox_image = "registry.k8s.io/pause:.*"'
    line: 'sandbox_image = "registry.k8s.io/pause:3.9"'
  notify: restart containerd

- name: Enable and start containerd
  service:
    name: containerd
    state: started
    enabled: yes

- name: Configure crictl
  template:
    src: crictl.yaml.j2
    dest: /etc/crictl.yaml

- name: Install crictl
  unarchive:
    src: "https://github.com/kubernetes-sigs/cri-tools/releases/download/v1.28.0/crictl-v1.28.0-linux-amd64.tar.gz"
    dest: /usr/local/bin
    remote_src: yes
    creates: /usr/local/bin/crictl
